@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
main {
  padding: 24px;
}
a {
  text-decoration-line: none;
  color: inherit;
}
.header-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-inline: 24px;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.title {
  font-weight: 800;
}
.countries-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country-card {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  padding-bottom: 24px;
  transition: all 0.2s ease-in-out;
}
.country-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.country-card img {
  width: 100%;
}
.card-text {
  padding-inline: 16px;
}
.card-text p {
  margin-block: 4px;
}
.card-title {
  font-size: 24px;
  margin-block: 16px;
}

.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.search-container {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  padding-left: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container input {
  border: none;
  outline: none;
  padding: 16px;
  width: 100%;
  font-size: 16px;
}
.search-container input::placeholder {
  color: #999;
}
.filter-by-region {
  width: 150px;
  padding: 16px;
  border: none;
  outline: none;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .countries-container {
    justify-content: center;
  }
  .title {
    font-size: 16px;
  }
  .header-container p {
    font-size: 12px;
  }
  .search-filter-container {
    flex-direction: column;
    gap: 24px;
  }
}
